# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.DS_Store
# intelij user specific settings exempt
workspace.xml
dataSources.local.xml
dataSources.xml
df6b057ee7097b6ccecd2b9c7fb7517e0c8e040e.xml
/PunishmentManager/.idea/dataSources/

#compiled trash
/PunishmentManager/target/
/target/
/compiled_stuff/
/PunishmentManagerCore/target/
/OffenseProcessingDataAbstraction/target/
/PunishmentManagerCore/build/
/.gradle/
/buildSrc/.gradle/
/buildSrc/build/
/DefaultDataHandler/build/
/DefaultOffenseProcessor/build/
/DefaultRedisMessaging/build/
/DefaultMysqlDatabase/build/
/DefaultEhCache/build/
/buildSrc/build/generated-sources/
/buildSrc/build/generated-sources/kotlin-dsl-accessors/
/buildSrc/build/generated-sources/kotlin-dsl-external-plugin-spec-builders/
/buildSrc/build/groovy-dsl-plugins/
/buildSrc/.gradle/6.8.1/executionHistory/
